{% extends 'main/top_table.html' %}

{% load static %}

{% block title %}Додати товар{% endblock %}

{% block content %}
    {% if user %}
        <div class="blank">
            <p class="title">Додати товар</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for f in form %}
                    {{ f }}
                {% endfor %}
                {{ error }}
                <button type="submit" class="btn btn-outline-success succ"><b>Підтвердити</b></button>
            </form>
        </div>
    {% else %}
        <div class="plank">
            <p class="title">В користувача {{ username }} немає прав для додавання товару!</p>
        </div>
    {% endif %}
{% endblock %}