body {
    background-image: linear-gradient(67grad, #68cbfa, #0d1574);
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.space {
    width: 214px;
    height: 54px;
}

a {
    text-decoration: none;
}

h1:hover {
    transform: scale(1.03);
    transition: all .6s ease-in-out;
}

h1 {
    width: 214px;
    position: absolute;
    left: 4px;
    top: 2px;
    color: #060536;
}

ul li {
    margin-left: 30px;
    padding-bottom: 13px;
    width: 432px;
    display: inline-block;
    list-style: none;
    list-style-type: none;
    transition: all .6s ease;
}


ul {
    padding-left: 0px;
    position: relative;
    left: 40px;
    top: 0px;
    width: 101%;
    height: 9%;
    overflow: auto;
}

ul li .content p{
    font-size: 18px;
    font-weight: unset;
}

ul li img, ul li .img {
    width: 432px;
}

ul li img {
    border-left: solid 2.3px #222920;
    border-right: solid 2.3px #222920;
    border-top: solid 2.3px #222920;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

ul li .content p {
    border-left: solid 2.3px #222920;
    border-right: solid 2.3px #222920;
    border-bottom: solid 2.3px #222920;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    background-color: white;
}

.reg {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 8.8%;
    height: 6%;
    text-decoration: none;
    color: #af9391;
    margin: 0px;
    border: solid 2px #3a1925;
    border-radius: 35%;
    background-color: #4e6bbe;
    text-align: center;
}

.log {
    position: absolute;
    right: 13%;
    top: 2%;
    width: 4.4%;
    height: 6%;
    text-decoration: none;
    color: #5f715c;
    margin: 0px;
    border: solid 2px #1c3a24;
    border-radius: 25%;
    background-color: #80af75;
    text-align: center;
}

.add {
    position: absolute;
    top: 2%;
    right: 3%;
    width: 130px;
    text-decoration: none;
    color: #5f715c;
    margin: 0px;
    padding: 7px;
    border: solid 2px #1c3a24;
    border-radius: 25px;
    background-color: #369b00;
}

.log:hover{
    transform: scale(1.05);
    transform: rotateZ(15deg);
    transition: all 1.2s ease;
}

.reg:hover{
    transform: scale(1.05);
    transform: rotateZ(9deg);
    transition: all 1.2s ease;
}

.add:hover{
    transform: scale(1.05);
    transform: rotateZ(9deg);
    transition: all 1.2s ease;
}

.content p:hover {
    text-decoration: none;
    transition: all 1.6s ease;
}

ul li:hover, ul a:hover {
    transform: scale(1.05);
}

ul li:hover, ul a:hover, .content p:hover {
    text-decoration: none;
    color: #968da6;
}

ul a {
    margin-left: 30px;
    padding-bottom: 13px;
    width: 134px;
    height: 179px;
    color: inherit;
    text-decoration: none;
}

.content {
}

.content p {
    color: #130afa;
    background: rgba(242, 248, 243, 0.1);
}

body .topable {
    padding-bottom: 5px;
    position: center;
    transition: all 1.2s ease;
}


#close, #open {
    position: relative;
    width: 40px;
    height: 40px;
    top: 510px;
    left: -368px;
    cursor: pointer;
}

#menu {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 55px;
    left: 4px;
}

#menuwind {
    position: absolute;
    left: 40px;
    width: 101%;
    height: 600px;
}

.buff {
    margin-bottom: 10px;
}

.succ {
    margin-left: 35%;
}

.blank {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 23px;
    border: solid 6.8px #231939;
    border-radius: 7%;
    width: 35%;
    height: 40000%;
    margin: 0px;
    background-color: rgba(255, 255, 248, 0.63);
    margin: auto;
    margin-top: -60px;
    margin-bottom: 15%;
}

.title {
    text-align: center;
    margin: 0px;
    font-size: 28px;
    font-weight: 640;
}

.plank {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 23px;
    border: solid 6.8px #231939;
    border-radius: 7%;
    width: 35%;
    height: 40000%;
    margin: 0px;
    background-color: rgba(255, 255, 248, 0.63);
    margin: auto;
    margin-top: 90px;
    margin-bottom: 15%;
}